absl-py==1.4.0
aiohttp-cors==0.7.0
aiohttp==3.8.4
aiorwlock==1.3.0
aiosignal==1.3.1
alabaster==0.7.13
altair==5.0.1
annexremote==1.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.0
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.3
astroid==2.15.5
astropy==5.3
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.2
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==23.1.0
audioread==3.0.0
automat==22.10.0
autopep8==2.0.2
babel==2.12.1
backcall==0.2.0
backports.cached-property==1.0.2
backports.functools-lru-cache==1.6.5
bash-kernel==0.9.0
bcrypt==3.2.2
beautifulsoup4==4.12.2
binaryornot==0.4.4
bitarray==2.7.6
black==23.3.0
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
bokeh==3.2.0
boto==2.49.0
bottleneck==1.3.7
braceexpand==0.1.5
brotlipy==0.7.0
build==0.10.0
cachecontrol==0.12.14
cached-property==1.5.2
cachetools==5.3.0
cartopy==0.21.1
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chex==0.1.8
cleo==2.0.1
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.1
colorful==0.5.5
colorspacious==1.1.2
comm==0.1.3
conda-package-handling==2.0.2
conda-package-streaming==0.7.0
conda-tree==1.0.5
conda==23.1.0
configargparse==1.5.5
connection-pool==0.0.3
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.1.0
cookiecutter==2.1.1
coverage==7.2.7
cplex==22.1.1.0
crashtest==0.4.1
crc32c==2.3.post0
cryptography==39.0.0
cycler==0.11.0
cython==0.29.35
cytoolz==0.12.0
darkdetect==0.8.0
dask==2023.6.1
dataclasses==0.8
datalad==0.19.1
datasets==2.13.1
datashader==0.15.0
datashape==0.5.4
datrie==0.8.2
debugpy==1.6.7
decorator==5.1.1
deepspeed==0.9.5
defusedxml==0.7.1
deprecated==1.2.14
diff-match-patch==20230430
dill==0.3.6
dipy==1.7.0
distlib==0.3.6
distributed==2023.6.1
distro==1.8.0
dm-haiku==0.0.9
dm-sonnet==2.0.1
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt==0.6.2
docstring-to-markdown==0.12
docutils==0.18.1
dpath==2.1.6
dulwich==0.21.5
easygui==0.98.3
edflib-python==1.0.7
eeglabio==0.0.2.post4
entrypoints==0.4
et-xmlfile==1.1.0
etils==1.3.0
exceptiongroup==1.1.1
executing==1.2.0
exifread==3.0.0
fastapi==0.98.0
fasteners==0.17.3
fastjsonschema==2.17.1
filelock==3.12.2
flake8==6.0.0
flatbuffers==23.5.26
flax==0.6.11
flit-core==3.9.0
fonttools==4.40.0
forthon==0.10.1
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
gitpython==3.1.31
glob2==0.7
gmpy2==2.1.2
google-api-core==2.11.1
google-auth-oauthlib==0.4.6
google-auth==2.21.0
google-pasta==0.2.0
googleapis-common-protos==1.59.1
gpustat==1.1
gpy==1.10.0
greenlet==2.0.2
grpcio==1.47.1
gymnasium-notices==0.0.1
gymnasium==0.26.3
h11==0.14.0
h5io==0.1.7
h5netcdf==1.2.0
h5py==3.8.0
hjson==3.1.0
html5lib==1.1
huggingface-hub==0.15.1
humanfriendly==10.0
humanize==4.6.0
hydra-core==1.3.2
hyperlink==21.0.0
hypothesis==6.80.0
idna==3.4
igraph==0.10.3
imagecodecs==2023.1.23
imageio-ffmpeg==0.4.8
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
importnb==2023.1.7
incremental==22.10.0
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
intervaltree==3.1.0
ipdb==0.13.13
ipycanvas==0.13.1
ipyevents==2.0.1
ipykernel==6.23.3
ipympl==0.9.3
ipyparallel==8.6.1
ipython-genutils==0.2.0
ipython==8.14.0
ipyvtklink==0.2.2
ipywidgets==8.0.6
iso8601==2.0.0
isoduration==20.11.0
isort==5.12.0
jaraco.classes==3.2.3
jax==0.4.13
jaxlib==0.4.13+cuda11.cudnn86
jedi==0.18.2
jeepney==0.8.0
jellyfish==0.9.0
jinja2-time==0.2.0
jinja2==3.1.2
jmp==0.0.4
joblib==1.2.0
json5==0.9.5
jsonlines==3.1.0
jsonpointer==2.4
jsonschema==4.17.3
jupyter-client==8.3.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.7.0
jupyter-core==5.3.1
jupyter-events==0.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.1
jupyter-server-mathjax==0.2.6
jupyter-server-terminals==0.4.4
jupyter-server==2.7.0
jupyter==1.0.0
jupyterlab-git==0.41.0
jupyterlab-github==3.0.1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.23.0
jupyterlab-widgets==3.0.7
jupyterlab==4.0.2
jupytext==1.14.6
keras-preprocessing==1.1.2
keras==2.10.0
keyring==23.13.1
keyrings.alt==4.2.0
kiwisolver==1.4.4
lazy-loader==0.2
lazy-object-proxy==1.9.0
libarchive-c==4.0
libmambapy==1.2.0
librosa==0.10.0
lightning-utilities==0.8.0
line-profiler==4.0.3
littleutils==0.2.2
llvmlite==0.40.1
locket==1.0.0
lockfile==0.12.2
loguru==0.7.0
looseversion==1.2.0
lxml==4.9.2
lz4==4.3.2
mamba==1.2.0
markdown-it-py==2.2.0
markdown==3.4.3
markupsafe==2.1.3
matlab-kernel==0.17.1
matplotlib-inline==0.1.6
matplotlib==3.7.1
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.0
metakernel==0.29.4
mffpy==0.8.0
mistune==3.0.0
ml-dtypes==0.2.0
mne-qt-browser==0.5.1
mne==1.4.2
more-itertools==9.1.0
mosek==10.1b4
mpi4py==3.1.4
mpmath==1.3.0
mppl==1.4
msgpack==1.0.5
multidict==6.0.4
multimethod==1.9.1
multipledispatch==0.6.0
multiprocess==0.70.14
munkres==1.1.4
mutagen==1.46.0
mypy-extensions==1.0.0
nam==0.0.3
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.6.0
nbdime==3.2.1
nbformat==5.9.0
nbscript==0.1.0
nbstripout==0.6.1
nbval==0.9.6
nbzip==0.1.0
nest-asyncio==1.5.6
networkx==3.1
nibabel==5.1.0
nilearn==0.10.1
ninja==1.11.1
nitime==0.10.1
nltk==3.8.1
nose==1.3.7
notebook-shim==0.2.3
notebook==6.5.4
numba==0.57.1
numexpr==2.7.3
numpy==1.24.4
numpydoc==1.5.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvcc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-ml-py==11.525.112
oauthlib==3.2.2
ogb==1.3.6
omegaconf==2.3.0
opencensus-context==0.1.3
opencensus==0.11.2
opencv-python==4.7.0
openpyxl==3.1.2
opt-einsum==3.3.0
optax==0.1.5
orbax-checkpoint==0.2.6
outdated==0.0.0
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandera==0.15.1
pandocfilters==1.5.0
param==1.13.0
paramz==0.9.5
parso==0.8.3
partd==1.4.0
path==16.6.0
pathlib2==2.3.7.post1
pathspec==0.11.1
pathtools==0.1.2
patool==1.12
patsy==0.5.3
pbr==5.11.1
pep8==1.7.1
pexpect==4.8.0
phonopy==2.19.1
pickleshare==0.7.5
pillow==9.4.0
pip==23.0.1
pipdeptree==2.9.1
pkginfo==1.9.6
pkgutil-resolve-name==1.3.10
plac==1.3.5
platformdirs==3.8.0
plotly==5.15.0
pluggy==1.0.0
ply==3.11
poetry-core==1.6.1
poetry-plugin-export==1.4.0
poetry==1.5.1
pooch==1.6.0
portalocker==2.7.0
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.21.12
psutil==5.9.5
ptyprocess==0.7.0
pulp==2.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py-spy==0.3.14
py==1.11.0
pyarrow==9.0.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pybind11-global==2.10.4
pybind11==2.10.4
pybullet==3.2.4
pycairo==1.24.0
pycodestyle==2.10.0
pycosat==0.6.4
pycparser==2.21
pyct==0.4.6
pycurl==7.45.1
pydantic==1.10.9
pydeck==0.8.0b4
pydocstyle==6.3.0
pyerfa==2.0.0.3
pyflakes==3.0.1
pygments==2.15.1
pygobject==3.44.1
pyjwt==2.7.0
pylint-venv==3.0.2
pylint==2.17.4
pyls-spyder==0.4.0
pymanopt==2.1.1
pymatreader==0.0.32
pympler==1.0.1
pynvml==11.4.1
pyopengl==3.1.6
pyopenssl==23.1.1
pyparsing==3.1.0
pyperclip==1.8.2
pyproj==3.5.0
pyproject-hooks==1.0.0
pyqt5-sip==12.11.0
pyqt5==5.15.7
pyqtgraph==0.13.3
pyqtwebengine==5.15.4
pyrsistent==0.19.3
pyshp==2.3.1
pysocks==1.7.1
pytest-arraydiff==0.5.0
pytest-astropy-header==0.2.2
pytest-astropy==0.10.0
pytest-cov==4.1.0
pytest-doctestplus==0.13.0
pytest-filter-subpackage==0.1.1
pytest-mock==3.11.1
pytest-openfiles==0.5.0
pytest-remotedata==0.4.0
pytest==7.4.0
python-dateutil==2.8.2
python-gitlab==3.15.0
python-hostlist==1.23.0
python-json-logger==2.0.7
python-lsp-black==1.3.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.3
python-picard==0.7
python-slugify==8.0.1
python-snappy==0.6.1
pytoolconfig==1.2.5
pytorch-lightning==2.0.4
pytz-deprecation-shim==0.1.0.post0
pytz==2023.3
pyu2f==0.1.5
pyvista==0.39.1
pyvistaqt==0.0.0
pywavelets==1.4.1
pyxdg==0.28
pyyaml==6.0
pyzmq==25.1.0
qdarkstyle==3.1
qstylizer==0.2.2
qtawesome==1.2.3
qtconsole==5.4.3
qtpy==2.3.1
rapidfuzz==2.15.1
ray==2.5.1
regex==2023.6.3
requests-ftp==0.3.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.28.2
reretry==0.11.8
reverb==2.0.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rope==1.8.0
rsa==4.9
rtree==1.0.1
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.21
sacremoses==0.0.43
safetensors==0.3.1
scalene==1.5.21.3
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.11.0
scooby==0.7.2
seaborn==0.12.2
secretstorage==3.3.3
send2trash==1.8.2
sentry-sdk==1.21.1
service-identity==18.1.0
setproctitle==1.3.2
setuptools==65.6.3
sh==2.0.4
shapely==2.0.1
shellingham==1.5.1
simplegeneric==0.8.1
simplejson==3.19.1
singledispatch==0.0.0
sip==6.7.9
six==1.16.0
sklearn==0.0.post5
smart-open==6.3.0
smmap==3.0.5
snakemake==7.29.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.5
spglib==2.0.2
sphinx-rtd-theme==1.2.2
sphinx==6.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder-kernels==2.4.3
spyder-line-profiler==0.3.2
spyder==5.4.3
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
stopit==1.1.2
streamlit==1.24.0
sympy==1.12
tables==3.7.0
tabulate==0.9.0
tblib==1.7.0
tenacity==8.2.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.10.1
tensorboardx==2.5
tensorflow-estimator==2.10.0
tensorflow==2.10.0
tensorstore==0.1.39
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textdistance==4.5.0
texttable==1.6.7
threadpoolctl==3.1.0
three-merge==0.1.1
throttler==1.2.2
tifffile==2023.4.12
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
toposort==1.10
torch-geometric==2.3.0
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.4
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
triton==2.0.0
trove-classifiers==2023.5.24
twisted==22.10.0
typeguard==4.0.0
typer==0.9.0
typing-extensions==4.6.3
typing-inspect==0.9.0
typing-utils==0.1.0
tzdata==2023.3
tzlocal==4.3
ujson==5.7.0
unicodecsv==0.14.1
unicodedata2==15.0.0
unidecode==1.3.6
uri-template==1.3.0
urllib3==1.26.15
uvicorn==0.22.0
validators==0.20.0
virtualenv==20.21.0
vtk==9.2.5
wandb==0.15.4
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webdataset==0.2.48
webencodings==0.5.1
websocket-client==1.6.1
werkzeug==2.3.6
whatthepatch==1.0.5
wheel==0.40.0
whoosh==2.7.4
widgetsnbextension==4.0.7
wrapt==1.15.0
wslink==1.11.0
wurlitzer==3.0.3
xarray==2023.6.0
xgboost==1.7.4
xlrd==2.0.1
xlsxwriter==3.1.2
xlwt==1.3.0
xmltodict==0.13.0
xxhash==0.0.0
xyzservices==2023.5.0
yapf==0.33.0
yarl==1.9.2
yte==1.5.1
zict==3.0.0
zipp==3.15.0
zope.interface==6.0
zstandard==0.19.0